@font-face{
    font-family: 'Montserrat-Black';
    src:url('D:\Java Programing\Web Development\Spotify Clone\Montserrat.zip\static')
    format('woff2');
}

* {
  font-family: "Montserrat", serif;
  margin: 0 ;
  background-color: black;
  color: #fff;
  overflow: hidden;  
}
.main{
    display: flex;
    height: 100vh;
}

.sidebar{
    background-color: black;
    width: 340px;
    border-radius: 1rem;
}

.main-content{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow: auto;
}

.music-player{
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}

a{
    text-decoration: none;
    color: #fff;
}

.nav{
    background-color: gray;
    display: flex;
    flex-direction: column;
}